certifi @ file:///croot/certifi_1671487769961/work/certifi
cvxpy==1.1.15
ecos==2.0.7.post1
joblib==1.2.0
numpy==1.21.0
osqp==0.6.2.post0
pandas==1.4.0
python-dateutil==2.8.2
pytz==2023.3
qdldl==0.1.5.post0
scikit-learn==0.24.0
scipy==1.7.1
scs==2.1.4
six==1.16.0
threadpoolctl==3.1.0
